# Node Modules
client/node_modules/
server/node_modules/

# Environment Variables
client/.env
server/.env

# Build Files
client/dist/
server/dist/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

node_modules
.env